nav {
  max-width: 1440px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 60px 20px 320px;
  margin: 0 auto;
  border-bottom: 2px solid #f3f3f3;
  background-color: white;
  z-index: 2;
}

input {
  width: 15rem;
  position: relative;
  padding: 12px 20px;
  background-color: #ececec;
  border: none;
  outline: none;
  margin-right: 20px;
  border-radius: 20px;
  color: black;
}

.navbar-icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-icons {
  font-size: 22px;
  color: black;
  transition: 0.3s;
}

.nav-icons:hover {
  color: rgb(70, 18, 18);
}
